.timeline-point{
position: absolute;
    z-index: 2;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.75rem;
    width: 1.75rem;
    margin-right: 10px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    background-color: #fff;
}